html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container button {
    border: none;
    cursor: pointer;

   
    display: inline-block;
    margin: 0 -2px;
    padding: 5px 10px;
    border: 1px solid #666666;
}